*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.DS_STORE
*.log
my-keystore.keystore
.idea/
GuiApp/dist/
GuiApp/build/
firmware/
release/
*.apk
